*{
margin:0;
padding:0;
box-sizing:border-box;
}
body,html{
overflow-x:hidden;
}


ul{
list-style:none;
}
.active{
color:#fc036b;
text-decoration:underline;
font-weight:bold;
}
.header-content{
margin-bottom:150px;
color:#4980fd;
text-align:center;
}
.header-content h2{

text-align:center;
font-size:40px;
font-weight:700;
}
h5{
text-align:center;
font-weight:1200;
color:#4980fd;
font-size:30px;
}
.coins{

padding:20px 20px;
margin:12px 12px;
}
.coins h4{
text-align:center;
font-weight:700;
font-size:17px;
}
.coins img{
position:absolute;
border:1px solid #4980fd;
justify-content:center;
align-items:center;
border-radius:50px;
height:100px;
width:100px;
}
.coins small{
float:right;
margin-right:4px;
padding:auto 50px;
font-size:10px;
}
.coin{
padding:20px 20px;
margin:12px 12px;
}
.coin h4{
text-align:center;
font-weight:700;
font-size:17px;
}

.coin img{
position:absolute;
border:1px solid #4980fd;
justify-content:center;
align-items:center;
border-radius:50px;
height:100px;
width:100px;
}
.header-content h1{

text-align:center;
font-weight:700;
}
.btn{
position:absoulte;
background:#4980fd;
color:white;
margin:20% 20%;
padding:20px 20px;
text-align:center;
justify-content:center;
border-radius:10px;
outline:none;
border:1px solid white;
}
.header-content a{
margin-top:40%;
}
.navbar{
position:absolute;
top:0;
left:0;
display:flex;
width:100%;
justify-content:space-between;
padding:20px;
color:whitesmoke;
}
.nav-links{
display:flex;
align-items:center;
}
.nav-links li{
margin:0 30px;


}
header{
width:100vw;
height:100vh;
background-image:url("content://com.android.chrome.FileProvider/images/screenshot/16423761297007207672195390109536.jpg");
background-size:cover;
background-position:bottom;
display:flex;
align-items:center;
justify-content:center;
}
a{
text-decoration:none;
color:#f2e7e7;
}
.line{
width:150px;
height:4px;
background:#4980fd;
margin:10px auto;
}
.menu-btn{
position:absolute;
top:30px;
right:30px;
width:40px;
cursor:pointer;
display:none;
}
section{
width:80%;
margin:80px auto;
}
h4{
font-size:3vmin;
color:#4980fd;
margin:20px auto;
}
p{
color:#7c7c7c;
padding:0px 40px;

}

.footer{
display:flex-end;
width:100%;
min-height:100px;
padding:20px 80px;
margin-top:40vmin;
background:#4980fd;
text-align:center;
}
.footer p{
color:whitesmoke;
margin:20px auto;
padding:20px auto;
}
.trans{
background:transparent;
background-color:grey;
}
/*mobile device*/
@media only screen and (max-width:850px){
.box{
display:block;
justify-content:center;
text-align:center;
margin:30px 30px;
border:1px solid whitesmoke;
height:78vh;
width:43vh;
}
.box .heading{
background:#4980fd;
color:white;
height:70px;
}
.box img{
width:100px;
height:100px;
border-radius:50px;
}
.box button{
width:100px;
height:100px;
border-radius:50px;
outline:none;
}
.box ul{
text-align:center;
color:white;
font-weight:700;
font-size:20px;
}
.box li{
list-style:none;
margin:50px 10px;
border-bottom:1px solid whitesmoke;
}
.dash{
display:block;
color:white;
background:#4980fd;
border-radius:16px;
text-align:center;
height:30vh;
justify-content:center;
width:100%;
padding:2px 2px;
margin-top:11px;
}
.dash h1{
padding:20px;
margin:25px 30px;
font-weight:1000;
font-size:45px;
}
.dash small{
color:white;
font-weight:500;
}
.menus{
background:grey;
display:flex;
border-radius:3px;
justify-content:space-between;
margin:20px 3px;
}
.menus p{
text-align:center;
color:white;
}
.menus i{
text-align:center;
color:white;
}
.trade{
text-align:center;
margin-top:100px;
display:flex;
justify-content:space-between;
padding:2px 4px;
}
.trade img{
height:90px;
width:90px;
border-radius:50px;
border:1px solid blue;
}
.trade, .ddd{
display:flex;
}
.trade, .blue{
color:blue;
}
.trade, .red{
color:red;
}
.trade small{

}
.trade a{
background:#4980fd;
margin-top:15px;
padding:15px 20px;
color:white;
font-size:16px;
border-radius:17px;
}
.navs li{
color:grey;
text-align:left;
margin:2px 12px;
font-weight:700;
}
.menu-btn{
color:#4980fd;
display:block;
}
.navbar{
padding:0;
}
.logo{
position:absolute;
top:30px;
left:30px;
color:#4980fd;
}
.nav-links{
flex-direction:column;
width:100%;
height:100vh;
justify-content:center;
background:#4980fd;
margin-top:-900px;
transition:all 0.5s ease;
border-bottom-right-radius:30%;
}
.mobile-menu{
margin-top:0px;
}
.nav-links li{
margin:30px auto;

}

.footer{
padding:10px;
}
}
img{
transition:transform 0.3s ease;

}
img:hover{
transform: scale(1.1);
}
